<%
  page_title = Typus::I18n.t("Admin Panel")
  title(page_title)
%>

<h2>
  <%= page_title %>
</h2>

<% if admin_user.applications.any? %>
  <%= render 'applications' %>
<% else %>
  <div class="notice">
    No applications detected.
  </div>
<% end %>

<%= resources(admin_user) %>
