
<div id="main" style="margin: 150px auto 30px; width:675px">
	
	<div id="header" style="float:left; padding:25px;" >
	
<h1>
		<%= image_tag "crest.png", :id=>"crest", :height=>"150px" %>
	<a href="/">SkullWeb</a>
</h1>

</div>



	
	<div id="content" style="background:none repeat scroll 0 0 black;">   
		<div id="notice"></div>
	
		<div id="login_div" >

<form accept-charset="UTF-8" action="/user_sessions" class="new_user_session" id="new_user_session" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="?" type="hidden"><input name="authenticity_token" value="W0bThDns8VMmCCT4HWOBOtrLTo+PRNR0ZQtHR442yxY=" type="hidden"></div>

<div class="field">
<div class="field">
	</div><div class="actions">
</div><table id="login_table" cellspacing="10">
	<colgroup>
	</colgroup><colgroup>
	</colgroup><tbody><tr><td/><td id="login_header" style="color:white;">Login</td></tr>
	<tr>
		<td><label for="user_session_username" style="color:white;">Username</label>: </td>
		<td><input id="user_session_username" name="user_session[username]" size="18" type="text">
	</td></tr>

<tr>
		<td><label for="user_session_password" style="color:white;">Password</label>: </td>
		<td><input id="user_session_password" name="user_session[password]" size="18" type="password"></td>
	</tr>


<tr><td></td><td>
<input id="user_session_submit" name="commit" value="Login" type="submit"></td>






		
	
	





</tr></tbody></table></div></form></div></div></div>