<div id="header">

	<div id="login">                
			<span>Logged in as <a href="" class="name">Fidel Sosa</a>. <a href="">Log out</a></span>                
	</div>
	
	<h1>
		<a href="/">SkullWeb</a><span> / House Jobs</span>
	</h1>
	
</div>


<div id="main_nav">
	<ul>
		
		<li>
			<a href="/hj" class="<%= nav %>">House Jobs</a>
		</li>
		
		<li>
			<a href="/room" class="<%= nav %>">Room Reservations</a>
		</li>
		
	</ul>
	
</div>