<!doctype html>
<html>


<head>
    <title>SkullWeb</title>
	<%= render 'layouts/resources' %>
</head>

<body>

	
    <div id="main">
		
		<%= render 'layouts/header' %>
		
        <div id="content">   

		
            <%= yield %>
			
        </div>
		
    </div>
	
</body>
</html>

